<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="row">
        <div class="col-md-4">
            <div class="list-group">
                <a asp-action="UpdateUser" asp-controller="Panel" class="list-group-item list-group-item-action" aria-current="true">
                    Bilgilerimi Güncelle
                </a>
                <a href="#" class="list-group-item list-group-item-action">A second link item</a>
                <a href="#" class="list-group-item list-group-item-action">A third link item</a>
                <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
                <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">A disabled link item</a>
            </div>
        </div>
        <div class="col-md-8">
            @RenderBody()
        </div>
    </div>
</body>
</html>
